:root {
  --tile-size: 10px;
  --scale: 5;
}

body {
  margin: 0;
  background-color: grey;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#camera {
  width: calc(16 * var(--tile-size) * var(--scale)); 
  height: calc(9 * var(--tile-size) * var(--scale));
}

#header {
  margin: 0;
}

#content {
  width: 100%;
}
