:root {
  --tile-size: 10px;
  --scale: 6;
}

body {
  margin: 0;
  background-color: grey;
}

#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#camera {
  width: calc(16 * var(--tile-size) * var(--scale)); 
  height: calc(9 * var(--tile-size) * var(--scale));
  border: 5px solid red;
  overflow: hidden;
}
