:root {
  --tile-size: 10px;
  --scale: 5;
}

body {
  margin: 0;
  background-color: #6E6E6E;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#camera {
  width: calc(16 * var(--tile-size) * var(--scale)); 
  height: calc(9 * var(--tile-size) * var(--scale));
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin: 0;
}

#content {
  margin-top: 1em;
  width: calc(16 * var(--tile-size) * var(--scale));
}


.text-box {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#examples {
  display: flex;
  justify-content: space-evenly;
}

.example-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.btn {
  margin: 1em;
  border: none;
  background-color: white;
  border-radius: 4px;
  padding: 0.3em;
}

.btn:active {
  background-color: #C0C0C0;
}

